input,
textarea {
  @apply w-full border-2 rounded-lg p-2 focus:border-black mt-2;
}

button {
  @apply w-full bg-sky-600 p-2 text-white rounded-lg;
}

.tag-container {
  @apply flex flex-wrap mb-2;
}

.tag {
  @apply bg-gray-300 px-2 rounded-lg py-1 mr-2;
}

.close {
  cursor: pointer;
  margin-left: 5px;
}

.close:hover {
  color: red;
}

.tag-input {
  @apply flex-grow border-2 focus:border-black;
}
