<footer class="w-full text-center py-2 border-t-2 text-white bg-gray-800">
    <div class="flex justify-center gap-4 py-1">
        <!-- Facebook Icon -->
        <i class="fab fa-facebook-f icon"></i>
        <!-- Instagram Icon -->
        <i class="fab fa-instagram icon"></i>
        <!-- Twitter Icon -->
        <i class="fab fa-twitter icon"></i>
        <!-- LinkedIn Icon -->
        <i class="fab fa-linkedin-in icon"></i>
    </div>
    <hr class="border border-white w-[70%] mx-auto my-2">
    <p class="text-xs">All rights reserved &copy;2024</p>
</footer>